<!--  <script src="controllers/login_controller.js"></script>-->
<style>

	#columnOne {
		min-width:20%;
		max-width:100%;
		height:auto;
	}

	#columnTwo {
		min-width:20%;
		max-width:100%;
		height:auto;
	}
</style>
<div>
<div class="col-xs-12 " style="text-align: center; color: #FFFFFF; text-style: bold;
text-shadow:
	-2px -2px 0 #000000,
	 2px -2px 0 #000000,
	-2px  2px 0 #000000,
   2px  2px 0 #000000;
 ">

	<div style="font-size: 1000%;">  <img src="././images/logo_02.png" alt="CommunIT" style="width:125px; height:125px;"> CommunIT </img> </div>
	<div style="font-size: 350%;"> Community Manager </div>
</div>



	<div class="container col-xs-12">

		<div ui-view="columnOne" id="columnOne" class="col-xs-5">
		</div>

		<div ui-view="columnTwo" id="columnTwo" class="col-xs-5 col-xs-offset-2" >
		</div>


		<div class="panel panel-default col-xs-6 col-xs-offset-3 " style="border: 1px solid black; width: 200px	">
			<div class="panel-heading">
				<b class="" style="color: #000000">
							<a ui-sref="disclaimer" class="btn btn-primary btn-xs" >View Disclaimer</a>
				</b>
			</div>

		</div>

</div>
