
<link href="js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
<script src="js/angular.js"></script>
<script src="js/jquery.js"></script>
<script src="js/jquery-ui/jquery-ui.js"></script>
<script src="js/angular-ui-router.js"></script>
<script src="js/routes.js"></script>



<script>

</script>

<style>
    .centered-form {
        margin-top: 60px;
    }
    .centered-form .panel {
        background: rgba(255, 255, 255, 0.8);

    }
    label.label-floatlabel {
        font-weight: bold;
        color: #46b8da;
        font-size: 11px;
    }
</style>

    <div class="container" ng-app="createaccountApp" ng-controller="createaccountController">
        <form ng-submit="postCreateAccount()">
        <div class="row centered-form">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <b class="" style="color: #000000;">
                        Create a CommunIT Account
                      </b>
                    </div>
                    <div class="panel-body">
                        <form action="controllers/createaccount_handler.php" method="post">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <b> Username: </b>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="form-group">
                                        <input type="text" name="inputUsername" id="inputUsername" class="form-control input-sm floatlabel" placeholder="Username" required autofocus ng-model="inputData.username">
                                        <span class="text-danger" ng-show="errorMsgUsername">{{errorMsgUsername}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <b> E-mail: </b>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="form-group">
                                        <input type="email" name="inputEmail" id="inputEmail" class="form-control input-sm floatlabel" placeholder="E-mail Address" required ng-model="inputData.email">
                                        <span class="text-danger" ng-show="errorMsgEmail">{{errorMsgEmail}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <b> First Name: </b>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="form-group">
                                        <input type="text" name="inputFirstName" id="inputFirstName" class="form-control input-sm floatlabel" placeholder="First Name" required ng-model="inputData.firstName">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <b> Middle Initial: </b>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <input type="text" name="inputMiddleInitial" id="inputMiddleInitial" class="form-control input-sm floatlabel" placeholder="M" pattern="[A-Z]{1}" maxlength="1" style="text-transform:uppercase" ng-model="inputData.middleInitial">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <b> Last Name: </b>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="form-group">
                                        <input type="text" name="inputLastName" id="inputLastName" class="form-control input-sm floatlabel" placeholder="Last Name" required ng-model="inputData.lastName">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <b> Gender: </b>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="form-group">
                                        <select class="form-control input-sm floatlabel" name="inputGender" id="inputGender" ng-model="inputData.gender">
                                            <option value="male"> Male </option>
                                            <option value="female"> Female </option>
                                            <option value="other"> Other </option>
                                            <option selected value=""> No Answer</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <b> Birth Date: </b>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="form-group has-feedback">
                                        <input type="text" name="inputBirthDate" id="inputBirthDate" class="form-control input-sm floatlabel" required ng-model="inputData.BirthDate" readonly>
                                        <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                                        <span class="text-danger" ng-show="errorMsgBirthDate">{{errorMsgBirthDate}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <b> Password: </b>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="form-group">
                                        <input type="password" name="inputPassword" id="inputPassword" class="form-control input-sm floatlabel" required  ng-change="checkPassword()" ng-model="inputData.password" minlength="8">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <b> Confirm Password: </b>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="form-group">
                                        <input type="password" name="inputPasswordConfirm" id="inputPasswordConfirm" class="form-control input-sm floatlabel" required ng-change="checkPassword()" ng-model="inputData.passwordConfirm" minlength="8">
                                        <span class="text-danger" ng-show="errorMsgPassword">{{errorMsgPassword}}</span>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
                            <span class="text-danger" ng-show="errorMsgForm">{{errorMsgForm}}</span>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
