<div class="col-xs-12 container-fluid">
  <h1> Owned Communities </h1> <hr>

  <div>
    <table class="table table-borderless">
      <tr>
        <td colspan = "4"> <h4> Aurora University - <span style="color:red"> Owner </span> </h4> </td>
      <tr>
      <tr>
        <td colspan = "4"> <b> Description: </b> <br /> This is the community for Aurora University.  </td>
      <tr>
      <tr>
        <td align="center"><a type="button" class="btn btn-primary btn-md" href="communitymap.php?community=111111111111">Visit Community</a></td>
        <td align="center"><a type="button" class="btn btn-primary btn-md">Edit Community Settings</a></td>
        <td align="center"><a type="button" class="btn btn-primary btn-md">Edit Community Profile</a></td>
        <td align="center"><button type="button" class="btn btn-danger btn-md">Delete Community</button></td>
      <tr>
    </table>
    <br />
    <table class="table table-borderless">
      <tr>
        <td colspan = "4"> <h4> Aurora University - <span style="color:red"> Owner </span> </h4> </td>
      <tr>
      <tr>
        <td colspan = "4"> <b> Description: </b> <br /> This is the community for Aurora University.  </td>
      <tr>
      <tr>
        <td align="center"><a type="button" class="btn btn-primary btn-md" href="communitymap.php">Visit Community</a></td>
        <td align="center"><a type="button" class="btn btn-primary btn-md">Edit Community Settings</a></td>
        <td align="center"><a type="button" class="btn btn-primary btn-md">Edit Community Profile</a></td>
        <td align="center"><button type="button" class="btn btn-danger btn-md">Delete Community</button></td>
      <tr>
    </table>
  </div>

  <a type="button" class="btn btn-primary btn-lg" href="createcommunity.php">Create A Community</a>

</div>
