<div class="col-xs-12 container-fluid">
  <h1> Joined Communities </h1><hr>
  <div>
    <table class="table table-borderless">
      <tr>
        <td colspan = "2"> <h4> Aurora University - <span style="color:red"> Moderator </span> </h4> </td>
      <tr>
      <tr>
        <td colspan = "2"> <b> Description: </b> <br /> This is the community for Aurora University.  </td>
      <tr>
      <tr>
        <td align="center"><a type="button" class="btn btn-primary btn-md" href="communitymap.php">Visit Community</a></td>
        <td align="center"><a type="button" class="btn btn-primary btn-md">Edit Community Profile</a></td>
      <tr>
    </table>
    <br />
    <table class="table table-borderless">
      <tr>
        <td colspan = "2"> <h4> Aurora University - <span style="color:red"> User </span> </h4> </td>
      <tr>
      <tr>
        <td colspan = "2"> <b> Description: </b> <br /> This is the community for Aurora University.  </td>
      <tr>
      <tr>
        <td align="center"><a type="button" class="btn btn-primary btn-md" href="communitymap.php">Visit Community</a></td>
        <td align="center"><a type="button" class="btn btn-primary btn-md">Edit Community Profile</a></td>
      <tr>
    </table>
  </div>
  <a type="button" class="btn btn-primary btn-lg" href="communitysearch.php">Search For A Community To Join</a>
</div>
